@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display:ital@1&family=Roboto:ital,wght@1,100;1,400&display=swap');


:root {
    --primaryColor: #bb9c7f;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.01rem;
    --mainTransition: all 0.6s linear;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--mainWhite);
}

.nav-container{
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background-color: rgb(43, 42, 42);
}

.navbar-logo{
    margin-left: 15px;
    color: var(--mainGrey);
    margin-top: 1rem;
    cursor: pointer;
    letter-spacing: var(--mainSpacing);
}

.ver-carrito{
    font-size: 21px;
    color: var(--mainGrey);
    margin-right: 15px;
    margin-top: 1.2rem;
    cursor: pointer;
}

.ver-carrito:hover{
    opacity: 0.7;
}


/* banner */

.banner{
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    background-image: url(../assets/bgnd.jpg);
    filter: contrast(130%); 
}

.banner-container{
    text-align: center;
    padding: 25.5% 0;
}

.banner h2{
    color: var(--mainWhite);
    font-size: 42px;
    opacity: 0.8;
}

/* product cards */

.shop-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 24px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    max-width: 300px;
    margin: auto; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2.5rem;
}

.card img{
    width: 90%;
    height: 250px;
}

.price{
    color: var(--mainBlack);
    font-size: 16px;
    margin-top: 0.3rem;
}

.card button{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(179, 122, 160);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-top: 0.2rem;
}

.card button:hover{
    background-color: black;
    opacity: 0.9;
    transition: var(--mainTransition);
}

/* modal content */

.modal-container{
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: var(--mainWhite);
    background-color: var(--mainBlack);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
}

.modal-container::-webkit-scrollbar{
    display: none;
}

.modal-header{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: var(--mainWhite);
    width: 100%;
}

.modal-header-title{
    justify-self: start;
}

.modal-header-button{
    cursor: pointer;
}

.modal-container > .modal-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.modal-container > div > img{
    height: 120px;
    width: 120px;
}

.total-content{
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}

/* CLOSE */

.delete-product{
    cursor: pointer;
}


